<div class="flex flex-col items-center justify-center px-6">
<p class="text-2xl sm:text-3xl md:text-4xl xl:text-5xl font-extrabold text-gray-800 bg-gradient-to-r from-gold1 to-gold2 px-6 py-2 rounded-md shadow-lg">投稿する</p>

<p class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl mt-3 text-gray-600">場所を指定してシェア</p>
  <div class="flex justify-center mt-14">
    <%= video_tag "/videos/modal_slide2.mp4", autoplay: true, loop: true, muted: true, class: "w-full sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-4/5 h-auto object-cover  border-4 border-gray-200 shadow-md", style: " object-position: center 10%;" %>
  </div>
</div>
