<div class="flex justify-center items-center min-h-screen mt-8">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfYSlGvNC2SD5bXqGDYExsPLBlJFKA9ypAf5cOJZiiWO2Lh_A/viewform?embedded=true" width="640" height="1039" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>
