<div class="py-1 sm:py-6 lg:py-7 mt-5">
  <div class="mx-auto max-w-screen-xl px-5 md:px-8">
     <%= render 'search_form', q: @q, url: posts_path %>
    <div class="mb-5 md:mb-10">
      <h1 class="mb-4 text-center text-2xl font-bold md:mb-6 lg:text-3xl">投稿一覧</h1>
      <p class="py-3 mx-auto max-w-screen-md text-center md:text-lg">あなたが訪れた寺院・史跡名跡を共有</p>
    </div>
     <%= render partial: "posts/post", locals: { posts: @posts } %>
  </div>
  
    <%= paginate @posts %>
  
</div>
