<div class="text-center max-w-2xl mx-auto shadow-md mt-10 sm:px-4 pb-8">
  <h1 class="mb-4 text-center text-2xl font-bold text-gray-900 md:mb-8 py-2 lg:text-3xl">新規投稿</h1>
    <div class="pb-4 text-red-700">
      <%= render 'shared/error_messages', object: @post %>
    </div>
  <div class="mx-auto max-w-md rounded-lg border flex flex-col gap-4 md:p-8">
    <%= render 'form_post', map_id: "new-map" %>
  </div>
</div>


<script 
  type="text/javascript" 
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" 
  async
  defer
  >
</script>

<script>
let map;
let map_lat;
let map_lng;
let marker;

function markerData(imageUrl) {
  document.getElementById('post_map_marker_image').value = imageUrl //隠しフィールドに値を設定
}


// アイコンをマーカーとして設定
function newMarker(lat, lng) {
  const selectedMarker = document.querySelector('input[name="post[marker_image]"]:checked')?.value;
  console.log("Marker URL:", selectedMarker); 
  const iconOptions = selectedMarker
    ? {
        url: selectedMarker,
        scaledSize: new google.maps.Size(33, 33)
      }
    : null;

  if (selectedMarker) {
    markerData(selectedMarker);
  }

  marker.setPosition(new google.maps.LatLng(lat, lng));
  marker.setMap(map);
  marker.setIcon(iconOptions);
}

// 地図の初期化とクリックイベント
function initMap() {
  const myLatLng = { lat: 35.68090045006303, lng: 139.76690798417752 };

  map = new google.maps.Map(document.getElementById('new-map'), {
    center: myLatLng,
    zoom: 12
  });

  marker = new google.maps.Marker();
  map_lat = document.getElementById('post_map_latitude');
  map_lng = document.getElementById('post_map_longitude');

  google.maps.event.addListener(map, 'click', function (event) {
    const lat = event.latLng.lat();
    const lng = event.latLng.lng();

    map_lat.value = lat; // 隠しフィールドに値を設定 
    map_lng.value = lng; // 隠しフィールドに値を設定

    newMarker(lat, lng);
  });
}

// 地名検索
function codeAddress() {
  const geocoder = new google.maps.Geocoder();
  const inputAddress = document.getElementById('address').value;

  geocoder.geocode(
    {
      address: inputAddress,
      region: 'jp'
    },
    function (results, status) {
      if (status === 'OK') {
        const lat = results[0].geometry.location.lat();
        const lng = results[0].geometry.location.lng();

        map.setCenter(results[0].geometry.location);
        map_lat.value = lat;
        map_lng.value = lng;

        newMarker(lat, lng);
      } else {
        alert('該当する結果がありませんでした');
      }
    }
  );
}

</script>
